<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Equity" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:icon="@drawable/ic_equity" android:dataExtractionRules="@xml/data_extraction_rules"
        android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
